.container {
    flex: 1;
    /* /* display: flex; */
    /* flex-direction: row; */
    /* align-self: stretch; */
    /* height: 100%; */

    background-color: #1e1e23;
    color: #fff;
    opacity: 0.9;
    border: 2px solid red;
}

.msgContainer {
    flex: 1;
    margin-bottom: 0.25em;
    padding: 0 1em 0 1em;
}

.author {
    font-style: bold;
    font-size: 0.75em;
    flex: 1;
}

.msg {
    flex: 1;
    font-family: Arial, Helvetica, sans-serif !important;
}

.left {
    border-radius: 10px 10px 10px 0;
    text-align: left !important;
    background-color: #fff;
    color: #000;
}

.right {
    border-radius: 10px 10px 0 10px;
    text-align: right !important;
    background-color: #95e773;
    color: #414252;
}
