.container {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    height: 100%;
}

.container {
    border-radius: 5px;
    border: 2px solid #555559;
    background-color: #1e1e23;
    color: #fff;
    opacity: 0.9;
}
