.hidden {
    visibility: hidden;
}
.none {
    display: none;
}

.main-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid #555559;
    background-color: #1e1e23;
    color: #fff;
    opacity: 0.9;
    flex: 1;
    overflow-y: auto;
}

.accordion-container:not(:first-child):hover {
    background-color: #ccc !important;
    color: #1e1e23;
}

.accordion-container:nth-child(odd) {
    background-color: #1e1e23;
}
.accordion-container:nth-child(even) {
    background-color: #414252;
}

.title-bar {
    border-bottom: 2px solid #555559;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: start;
}

.item,
.item-details {
    flex: 1 0;
    margin: 1px;
    padding: 0.4em 1em 0.4em 1em;
    text-align: center;
}

.collapse-icon {
    flex: 0;
}

.row-details {
    flex: 1 0;
}

.btn-join {
    color: #fff !important;
}
.btn-full {
    color: #fff !important;
}
.btn-full:hover {
    color: #fff !important;
    cursor: not-allowed;
}
