.container {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;

    background: rgba(#222, 0.5);
}

.begin {
    margin-top: 5em;
    padding: 0 1em;

    color: #555559;
    text-align: center;
    font-size: 2.25vmin;
}
