.container {
    flex: 1;
    justify-content: start;
    align-content: auto;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 0.33em;
}

.icon {
    flex: 0 0 2em;
    font-size: 1.66em;
    color: #95e773;
}

.name {
    flex: 0 0 auto;
}
