.container {
    flex: 1;
    justify-content: start;
    align-content: auto;
    overflow-y: auto;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 0.33em;
}

.icon {
    flex: 0 0 2em;
    font-size: 1.66em;
    /* color: #95e773; */
    color: #e6443a
}

.name {
    overflow: hidden;
}
