.container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: #fff;
    margin-top: -15vh;
}

.item {
    flex: 0 0;
    margin-bottom: 1em;
}

.input {
    margin-top: 0.25em;
}

.grey {
    color: #555559 !important;
}

.white {
    color: #fff !important ;
}
