@font-face {
    font-family: 'arcade';
    src: url('./assets/font/ArcadeNormal-ZDZ.ttf') format('truetype');
    /*url('./font/ArcadeRounded-3DM.ttf') format("truetype");*/
}

body {
    margin: 0;

    background-color: #1e1e23;
    background-image: url('./assets/img/bg_retropie.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'arcade' !important;
}

input[type='text'] {
    font-family: 'arcade';
}
