@font-face {
    font-family: 'arcade';
    src: url('./assets/font/ArcadeNormal-ZDZ.ttf') format('truetype');
}

body {
    background-image: url('./assets/img/bg_retropie_blue.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'arcade' !important;
    color: #fff;
}

html,
body,
#tetris {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #1e1e23 !important;
}

input[type='text'] {
    background: transparent;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    font-family: 'arcade';
}
input[type='text']:focus {
    // border: 2px solid #34b8ee;
    border: 2px solid #009df3;
    border-radius: 5px;
    outline: none;
}

// $primary: #34b8ee;
$primary: #009df3;
$secondary: #555559;
$warning: #f8ae2a;
$danger: #e6443a;
$info: #414252;
$dark: #1e1e23;
@import '~bootstrap/scss/bootstrap';
