@font-face {
    font-family: 'arcade';
    src: url('./assets/font/ArcadeNormal-ZDZ.ttf') format('truetype');
    /*url('./font/ArcadeRounded-3DM.ttf') format("truetype");*/
}

body {
    margin: 0;

    background-color: #1e1e23;
    background-image: url('./assets/img/bg_retropie.png');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'arcade' !important;
}

input[type='text'] {
    background: transparent;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
    font-family: 'arcade';
}
input[type='text']:focus {
    border: 2px solid #34b8ee;
    border-radius: 5px;
    outline: none;
}
