.hidden {
    visibility: hidden;
}
.none {
    display: none;
}

.main-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid #555559;
    background-color: #1e1e23;
    opacity: 0.9;
    height: 100%;
    flex: 1 0 auto;
}

.title-bar {
    color: #fff;
    border-bottom: 2px solid #555559;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: start;
}

.room:hover {
    background-color: #ccc;
}

.item {
    flex: 1 0;
    margin: 1px;
    padding: 0.4em 1em 0.4em 1em;
    text-align: center;
}

.row-details {
    flex: 1 0;
}

.item-details {
    flex: 1 0;
    margin: 1px;
    padding: 0.4em 1em 0.4em 1em;
    text-align: center;
}
