/* LESS */

.hidden {
    visibility: hidden;
}
.none {
    display: none;
}

.main-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid #000;
}
.title-bar {
    background-color: lightskyblue;
    color: #000;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: start;
}

.room:hover {
    background-color: #ccc;
}

.item {
    flex: 1 0;
    margin: 1px;
    padding: 1em;
    border: 1px solid #000;
}

.details {
    flex: 1 0;
    margin: 1px;
    padding-left: 1em;
    padding-right: 1em;
}
